.idea
node_modules/
.swp
junit.xml
.vscode
secrets/*.pem
coverage
.env
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# https://devspace.sh/
devspace*
.devspace/**.*

*.log
*IGNORE*
