version: '3.4'
networks:
  mojaloop-net:
    name: mojaloop-net

services:
  redis:
    networks:
        - mojaloop-net
    image: "redis:5.0.4-alpine"

  scheme-adapter:
    networks:
        - mojaloop-net
    build:
      context: .
    env_file: ./src/test/config/integration.env
    ports:
      - "4000:4000"
      - "4001:4001"
      - "4002:4002"
    depends_on:
      - redis

  ml-testing-toolkit:
    networks:
        - mojaloop-net
    image: mojaloop/ml-testing-toolkit:v11.7.11
    container_name: ml-testing-toolkit
    volumes:
      - "./docker/ml-testing-toolkit/spec_files:/opt/mojaloop-testing-toolkit/spec_files"
      - "./docker/ml-testing-toolkit/secrets:/opt/mojaloop-testing-toolkit/secrets"
    ports:
      - "15000:5000"
      - "5050:5050"
    environment:
      - AUTH_ENABLED=FALSE
    command: npm start
    depends_on:
      - mongo

  mongo:
    networks:
        - mojaloop-net
    image: mongo
    ports:
      - "27018:27017"

  # mojaloop-testing-toolkit-ui:
  #   image: mojaloop/ml-testing-toolkit-ui:v11.8.4
  #   ports:
  #     - "6060:6060"
  #   environment:
  #     - API_BASE_URL=http://localhost:5050
  #     - AUTH_ENABLED=FALSE
  #   command:
  #     - sh
  #     - /usr/share/nginx/start.sh